body {
  background-color: black;
  font-family: sans-serif;
  color: white;
}

head{
  background-color: red;
}


header{
  margin-top: 30px;
  background-color: red;
}


img {
  padding-left:400px;
}

a {
  font-size: 25px;
  font-color: white;
  background-color: white;
  padding: 10px;
  margin-left: 200px;
}

article {
  background-color: red;
  margin-right: 10px;
}


footer{
  padding-left: 700px;
}


}
