body {
  background-color: black;
  font-family: sans-serif;
  color: white;

}

nav {
  display: inline;
  float: right;
}

nav ul {
  margin:0 0 0 0 10px;
  padding-left:0;
  padding-right: 10px;
  list-style: none;
  display: inline;
}

nav li {
  display: inline-block;
  margin-right: 5px;
  padding: 50px;
  border-color: white;
}

li a{
  padding: 5px;
  margin-top: 20px;
  background-color: red;
  border-color: white 4px;
}
