body {
  background-color: black;
  font-family: sans-serif;
  color: white;

}

header{
  margin-top: 30px;
}


nav {
background-color: blue;
}

nav ul {
color: white;
background-color: red;
}


img {
  padding-left:400px;
}


a {
  font-size: 25px;
  font-color: white;
  padding: 10px;
  margin-left: 200px;
  display:inline-block;
}


}

footer{
  padding-left: 700px;
}


}
